@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body {
  font-size: 14px;
  box-sizing: border-box;
  width: 320px;
  margin: auto;
  background-color: black;
}

#bloc_page {
  background-color: white;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Shrikhand", cursive;
}

.title_francaise, .title_palette, .title_note, .title_delice {
  font-family: "Shrikhand", cursive;
  font-size: 24px;
}

h2, h3, h4, p {
  font-family: "roboto", arial, sans-serif;
  margin: 0;
}

h2 {
  font-size: 23px;
}

button {
  background-color: #a16be0;
  color: #FFFFFF;
  padding: 1em 1.5em;
  border-radius: 40px;
  border: none;
}
button:hover {
  background-color: #a978e3;
  box-shadow: 1px 3px 1px #9356DC;
}

.btn_order button {
  padding: 1em 2em;
  margin: 2em 0 5em 6.5em;
}

.fa-heart {
  position: absolute;
  font-size: 20px;
}

.heart_container .heart {
  position: absolute;
  top: -999999px;
}

.heart_container label {
  color: black;
}

.heart_container .heart:not(:checked) + label::before {
  font-weight: 400;
}

.heart_container .heart:checked ~ label::before {
  font-weight: 900;
  color: red;
  transition-duration: 1s;
  transition-timing-function: ease in;
}

.heart_label3 {
  transform: translate(1.4em);
}

.heart_label5, .heart_label6, .heart_label7, .heart_label8 {
  padding-top: 0.5em;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .main_title {
  font-size: 26px;
  margin-bottom: 0.5em;
}

.header_menu {
  display: flex;
  flex-direction: row;
  margin: 0 0 -0.5em 0;
}
.header_menu .arrow_left {
  margin: 0 4em 0 1em;
  font-size: 16px;
}

footer {
  background-color: #343434;
  color: #FFFFFF;
  padding: 2em 2em;
}
footer .title_footer {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  margin-bottom: 1em;
}
footer .title_footer a :hover {
  background: none;
}
footer .icon_footer {
  margin-right: 0.5em;
}

.proposition {
  display: flex;
  margin-bottom: 0.5em;
}

.partnership {
  display: flex;
  margin-bottom: 0.5em;
}
.partnership .hand {
  font-size: 11px;
}

.lois {
  margin-bottom: 0.5em;
}

.mail {
  color: #FFFFFF;
}
.mail :hover {
  background: none;
}

.position {
  background-color: #dedede;
  width: 100%;
  padding: 1em 0;
  font-weight: bold;
  box-shadow: 0px -1px 4px #808080;
  z-index: 1;
}
.position .position__i\&p {
  display: flex;
  margin-left: 6.5em;
}
.position .position__logo {
  margin-right: 1em;
  font-size: 16px;
}
.position .position__exemple {
  margin-top: 0.2em;
}

.section {
  display: inline-block;
  background-color: #9356DC;
  height: 100vh;
  line-height: 500px;
  left: 0;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 999;
  opacity: 1;
  animation: 3s hide 1;
}

@keyframes hide {
  0%, 99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-left: 1em;
  margin-right: 1em;
}

.loader-quart {
  border-radius: 50px;
  border: 6px solid rgba(255, 255, 255, 0.4);
}

.loader-quart:after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #FFFFFF;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*.section{
  display: none;
}*/
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
  text-align: center;
  margin-bottom: 3em;
}
.top .top__slogan {
  font-size: 23px;
  font-weight: bold;
  margin: 2em 1em 0.5em 2em;
}
.top .top__catch {
  font-size: 16px;
  margin: 0 1.3em 2em 1.3em;
}

.btn {
  margin-bottom: 4em;
}

.operation {
  margin: 0 1em;
}
.operation .title_secondary {
  margin-bottom: 1em;
}

.stages__one, .stages__two {
  margin-bottom: 2em;
}

.stages__three {
  margin-bottom: 5em;
}

.stages__all {
  display: flex;
  padding: 1.5em 0;
  border: 0px solid #FFFFFF;
  box-shadow: 1px 5px 6px #d9d9d9;
  border-radius: 20px;
  background-color: #f3f3f3;
}
.stages__all .num {
  color: #FFFFFF;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 0.3em 0.5em 0em 0.5em;
  font-size: 12px;
  margin-right: 1.5em;
  margin: 0 1.5em 0 -0.6em;
}
.stages__all .icon {
  color: #808080;
  margin-right: 1.5em;
  font-size: 16px;
}
.stages__all .e_all {
  font-weight: bold;
  font-size: 15px;
}

.lien_operation {
  text-decoration: none;
  color: black;
}
.lien_operation :hover {
  background-color: #f2eafb;
}

.store_restaurant {
  margin-bottom: 4em;
}
.store_restaurant .title_secondary {
  margin-left: 0.6em;
}
.store_restaurant .restaurant {
  border-radius: 20px;
  box-shadow: 1px 2px 3px #cecece;
  margin: 1em 1em;
}
.store_restaurant .restaurant img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.store_restaurant .restaurant .ticket {
  background-color: #99E2D0;
  width: 20%;
  padding: 0.2em 0.5em;
  color: #2c9c81;
  font-weight: bold;
  margin: -8em 0 7em 15em;
  position: relative;
}

.restaurant_description {
  display: flex;
  margin: 0.5em 1em 0 1em;
}
.restaurant_description .restaurant_name {
  padding-right: 8em;
  margin-bottom: 1em;
}
.restaurant_description span {
  font-weight: bold;
}

.hearth_menu3 {
  padding-left: 1.5em;
}

.title_palette {
  margin-right: 1.7em;
}

.pictures_note {
  object-fit: cover;
}

.title_note {
  margin-right: 1.5em;
}

.pictures_head {
  width: 100%;
  height: 200px;
}

.menu {
  border-radius: 35px 35px 0 0;
  padding-top: 1.6em;
  margin-top: -3.2em;
  background-color: #FFFFFF;
  position: relative;
}
.menu .favourite_restaurant {
  display: flex;
  margin: 0 0 2em 1em;
}
.menu .favourite_restaurant .title_francaise {
  margin-right: 3.8em;
}
.menu .favourite_restaurant .hearth {
  font-size: 20px;
}

.title_all {
  margin: 1em 19.3em 0 1em;
  padding-bottom: 0.2em;
  border-bottom: 3px solid #99E2D0;
  color: #666666;
}

.appetizer {
  margin-bottom: 3em;
}

.appetizer__all {
  display: flex;
  justify-content: space-between;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #9a9a9a;
  padding: 0.5em;
  margin: 1em;
}
.appetizer__all .appetizer__name .name_appetizer {
  font-weight: bold;
}
.appetizer__all .appetizer__name .info_appetizer {
  font-size: 12px;
}

.main {
  margin-bottom: 3em;
}

.main__all {
  display: flex;
  justify-content: space-between;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #9a9a9a;
  padding: 0.5em;
  margin: 1em;
}
.main__all .main__name .name_main {
  font-weight: bold;
}
.main__all .main__name .info_main {
  font-size: 12px;
}

.dessert__all {
  display: flex;
  justify-content: space-between;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #9a9a9a;
  padding: 0.5em;
  margin: 1em;
}
.dessert__all .dessert__name .name_dessert {
  font-weight: bold;
}
.dessert__all .dessert__name .info_dessert {
  font-size: 12px;
}

.price {
  padding-top: 1em;
  font-weight: bold;
}

.title_delice {
  margin-right: 2em;
}

/*# sourceMappingURL=style.css.map */
