@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@keyframes slideDown {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-90-cw {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
html, body {
  font-size: 14px;
  box-sizing: border-box;
  margin: auto;
  background-color: black;
}

#bloc_page {
  background-color: white;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Shrikhand", cursive;
}

.title_francaise, .title_palette, .title_note, .title_delice {
  font-family: "Shrikhand", cursive;
  font-size: 24px;
}

h2, h3, h4, p {
  font-family: "roboto", arial, sans-serif;
  margin: 0;
}

h2 {
  font-size: 23px;
}

button {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: #FFFFFF;
  padding: 1em 1.5em;
  border-radius: 40px;
  border: none;
}
button:hover {
  background-color: white;
  box-shadow: 1px 3px 1px #9356DC;
}

.btn_order button {
  padding: 1em 3em;
  margin: 2em 0 5em 0em;
}

.fa-heart {
  position: absolute;
  font-size: 20px;
}

.heart_container .heart {
  display: none;
}

.heart_container label {
  color: black;
}

.heart_container .heart:not(:checked) + label::before {
  font-weight: 400;
}

.heart_container .heart:checked ~ label::before {
  font-weight: 900;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

.heart_label3 {
  transform: translate(1.4em);
}

.heart_label1, .heart_label2, .heart_label3, .heart_label4 {
  margin-left: 80%;
  transform: translateY(-55px);
}

.heart_label5, .heart_label6, .heart_label7, .heart_label8 {
  padding-top: 0.5em;
}

.appetizer__all, .main__all, .dessert__all {
  animation: slideDown 10s 1;
  cursor: grab;
  position: relative;
  overflow: hidden;
  max-width: 300px;
}
.appetizer__all > *, .main__all > *, .dessert__all > * {
  display: inline-block;
  transition: all 300ms;
}
.appetizer__all .check, .main__all .check, .dessert__all .check {
  background: #99E2D0;
  color: #FFFFFF;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 20px;
  width: 50px;
  height: 36px;
  text-align: center;
  padding: 12px 0 0 0;
  border-radius: 0 10px 10px 0;
  display: inline-block;
  transform: translateY(-1px);
  transform: translate(50px);
}
.appetizer__all .name_appetizer, .appetizer__all .info_appetizer, .main__all .name_appetizer, .main__all .info_appetizer, .dessert__all .name_appetizer, .dessert__all .info_appetizer {
  width: 100%;
}
.appetizer__all .name_appetizer > p, .appetizer__all .info_appetizer > p, .main__all .name_appetizer > p, .main__all .info_appetizer > p, .dessert__all .name_appetizer > p, .dessert__all .info_appetizer > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.appetizer__all .name_main, .appetizer__all .info_main, .main__all .name_main, .main__all .info_main, .dessert__all .name_main, .dessert__all .info_main {
  width: 100%;
}
.appetizer__all .name_main > p, .appetizer__all .info_main > p, .main__all .name_main > p, .main__all .info_main > p, .dessert__all .name_main > p, .dessert__all .info_main > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.appetizer__all .name_dessert, .appetizer__all .info_dessert, .main__all .name_dessert, .main__all .info_dessert, .dessert__all .name_dessert, .dessert__all .info_dessert {
  width: 100%;
}
.appetizer__all .name_dessert > p, .appetizer__all .info_dessert > p, .main__all .name_dessert > p, .main__all .info_dessert > p, .dessert__all .name_dessert > p, .dessert__all .info_dessert > p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.appetizer__all:hover .appetizer__name, .appetizer__all:hover .main__name, .appetizer__all:hover .dessert__name, .main__all:hover .appetizer__name, .main__all:hover .main__name, .main__all:hover .dessert__name, .dessert__all:hover .appetizer__name, .dessert__all:hover .main__name, .dessert__all:hover .dessert__name {
  width: 65%;
}
.appetizer__all:hover .check, .main__all:hover .check, .dessert__all:hover .check {
  transform: translate(0);
}
.appetizer__all:hover .price, .main__all:hover .price, .dessert__all:hover .price {
  transform: translate(-50px);
}
.appetizer__all:hover .fa-check-circle, .main__all:hover .fa-check-circle, .dessert__all:hover .fa-check-circle {
  -webkit-animation: rotate-90-cw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: rotate-90-cw 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.appetizer__one, .main__one, .dessert__one {
  animation-duration: 2s;
}

.appetizer__two, .main_two, .dessert_two {
  animation-duration: 3s;
}

.appetizer__three, .main_three, .dessert_three {
  animation-duration: 4s;
}

.appetizer__four {
  animation-duration: 5s;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .main_title {
  font-size: 26px;
  margin-bottom: 0.5em;
}

.header_menu {
  display: flex;
  flex-direction: row;
  margin: 0 0 -0.5em 0;
}
.header_menu .arrow_left {
  margin: 0 4em 0 1em;
  font-size: 16px;
}

footer {
  background-color: #343434;
  color: #FFFFFF;
  padding: 2em 2em;
}
footer .title_footer {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  margin-bottom: 1em;
}
footer .title_footer a :hover {
  background: none;
}
footer .icon_footer {
  margin-right: 0.5em;
}

.proposition {
  display: flex;
  margin-bottom: 0.5em;
}

.partnership {
  display: flex;
  margin-bottom: 0.5em;
}
.partnership .hand {
  font-size: 11px;
}

.lois {
  margin-bottom: 0.5em;
}

.mail {
  color: #FFFFFF;
}
.mail :hover {
  background: none;
}

.position {
  background-color: #dedede;
  width: 100%;
  padding: 1em 0;
  font-weight: bold;
  box-shadow: 0px -1px 4px #808080;
  z-index: 1;
}
.position .position__i\&p {
  display: flex;
  justify-content: center;
}
.position .position__logo {
  margin-right: 1em;
  font-size: 16px;
}
.position .position__exemple {
  margin-top: 0.2em;
}

.section {
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
  line-height: 850px;
  left: 0;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0;
  animation: hide 3s 1;
  animation-duration: 0s;
}

@keyframes hide {
  0%, 90% {
    opacity: 1;
    z-index: 999;
  }
  100% {
    opacity: 0;
  }
}
.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-left: 1em;
  margin-right: 1em;
}

.loader-quart {
  border-radius: 50px;
  border: 6px solid rgba(255, 255, 255, 0.4);
}

.loader-quart:after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #FFFFFF;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (min-width: 425px) {
  .operation {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .operation .stages__all {
    min-width: 425px;
  }
}
.appetizer, .main, .dessert {
  flex-wrap: wrap;
}

.btn_order {
  display: flex;
  justify-content: center;
  margin-left: 0px;
}

footer .title_footer {
  margin-bottom: 2em;
}

@media screen and (min-width: 768px) {
  /*--------------------------------------*/
  /*----------------ACCUEIL---------------*/
  /*--------------------------------------*/
  .store_restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .store_restaurant .store__pictures {
    display: flex;
  }
  .store_restaurant .store__pictures .resp_tab {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .store_restaurant .store__pictures .resp_tab .lien_menu {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .store_restaurant .store__pictures .resp_tab .lien_menu .restaurant {
    width: 100%;
  }

  .heart_container_menu {
    position: relative;
    transform: translate(-80px);
    margin-top: 15.5em;
  }

  /*--------------------------------------*/
  /*-----------------MENU-----------------*/
  /*--------------------------------------*/
  .appetizer, .main, .dessert {
    display: flex;
    justify-content: center;
  }

  .foot_tab {
    display: flex;
    justify-content: space-between;
  }
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
  text-align: center;
  margin-bottom: 3em;
}
.top .top__slogan {
  font-size: 23px;
  font-weight: bold;
  margin: 2em 1em 0.5em 2em;
}
.top .top__catch {
  font-size: 16px;
  margin: 0 1.3em 2em 1.3em;
}

.btn {
  margin-bottom: 4em;
}

.operation {
  margin: 0 1em;
}
.operation .title_secondary {
  margin-bottom: 1em;
}

.stages__one, .stages__two {
  margin-bottom: 2em;
}

.stages__three {
  margin-bottom: 5em;
}

.stages__all {
  display: flex;
  padding: 1.5em 0;
  border: 0px solid #FFFFFF;
  box-shadow: 1px 5px 6px #d9d9d9;
  border-radius: 20px;
  background-color: #f3f3f3;
}
.stages__all .num {
  color: #FFFFFF;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 0.3em 0.5em 0em 0.5em;
  font-size: 12px;
  margin-right: 1.5em;
  margin: 0 1.5em 0 -0.6em;
}
.stages__all .icon {
  color: #808080;
  margin-right: 1.5em;
  font-size: 16px;
}
.stages__all .e_all {
  font-weight: bold;
  font-size: 15px;
}

.lien_operation {
  text-decoration: none;
  color: black;
}
.lien_operation :hover {
  background-color: #f2eafb;
}
.lien_operation :hover .icon {
  color: #9356DC;
}

.store_restaurant {
  margin-bottom: 4em;
}
.store_restaurant .title_secondary {
  margin-left: 0.6em;
}
.store_restaurant .restaurant {
  border-radius: 20px;
  box-shadow: 1px 2px 3px #cecece;
  margin: 1em 1em;
}
.store_restaurant .restaurant img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.store_restaurant .restaurant .ticket {
  background-color: #99E2D0;
  width: 20%;
  padding: 0.2em 0.5em;
  color: #2c9c81;
  font-weight: bold;
  position: relative;
  display: flex;
  margin-left: 72%;
  transform: translateY(-120px);
  margin-bottom: -20px;
}

.restaurant_description {
  display: flex;
  margin: 0.5em 1em 0 1em;
}
.restaurant_description .restaurant_name {
  padding-right: 8em;
  margin-bottom: 1em;
}
.restaurant_description span {
  font-weight: bold;
}

.hearth_menu3 {
  padding-left: 1.5em;
}

.title_palette {
  margin-right: 1.7em;
}

.pictures_note {
  object-fit: cover;
}

.title_note {
  margin-right: 1.5em;
}

.pictures_head {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.menu {
  border-radius: 35px 35px 0 0;
  padding-top: 1.6em;
  margin-top: -3.2em;
  background-color: #FFFFFF;
  position: relative;
}
.menu .favourite_restaurant {
  display: flex;
  margin: 0 0 2em 1em;
}
.menu .favourite_restaurant .title_francaise {
  margin-right: 3.8em;
}
.menu .favourite_restaurant .hearth {
  font-size: 20px;
}

.title_all {
  margin: 1em 19.3em 0 1em;
  padding-bottom: 0.2em;
  border-bottom: 3px solid #99E2D0;
  color: #666666;
}

.appetizer {
  margin-bottom: 3em;
}

.appetizer__all {
  display: flex;
  justify-content: space-between;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #9a9a9a;
  padding: 0.5em;
  margin: 1em;
}
.appetizer__all .appetizer__name {
  overflow: hidden;
  width: 227px;
}
.appetizer__all .appetizer__name .name_appetizer {
  font-weight: bold;
}
.appetizer__all .appetizer__name .info_appetizer {
  font-size: 12px;
}

.main {
  margin-bottom: 3em;
}

.main__all {
  display: flex;
  justify-content: space-between;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #9a9a9a;
  padding: 0.5em;
  margin: 1em;
}
.main__all .main__name {
  overflow: hidden;
  width: 227px;
}
.main__all .main__name .name_main {
  font-weight: bold;
}
.main__all .main__name .info_main {
  font-size: 12px;
}

.dessert__all {
  display: flex;
  justify-content: space-between;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #9a9a9a;
  padding: 0.5em;
  margin: 1em;
}
.dessert__all .dessert__name {
  overflow: hidden;
  width: 227px;
}
.dessert__all .dessert__name .name_dessert {
  font-weight: bold;
}
.dessert__all .dessert__name .info_dessert {
  font-size: 12px;
}

.price {
  padding-top: 0.5em;
  font-weight: bold;
  margin-right: 0.5em;
  margin-left: 1em;
}

.title_delice {
  margin-right: 2em;
}

/*# sourceMappingURL=style.css.map */
