button{
  background-color: lighten($color-primary,5);
  color: $white;
  padding: 1em 1.5em;
  border-radius: 40px;
  border: none;
}

.btn_order{

  & button{
    padding:1em 2em;
    margin: 2em 0 5em 6.5em;
  }
}