button{
  background: linear-gradient(to bottom right, $color-secondary, $color-primary);
  color: $white;
  padding: 1em 1.5em;
  border-radius: 40px;
  border: none;

  &:hover{
    background-color: lighten($color-primary,80);
    box-shadow: 1px 3px 1px $color-primary;
  }
}

.btn_order{

  & button{
    padding:1em 2em;
    margin: 2em 0 5em 6.5em;
  }
}
