.fa-heart{
  position: absolute;
  font-size:20px;
}

.heart_container {
  & .heart {
    display: none;
  }
}

.heart_container label{
  color:black;
}

.heart_container .heart:not(:checked) + label::before{
  font-weight: 400;
}

.heart_container .heart:checked ~ label::before{
  font-weight: 900;
  background:linear-gradient(to bottom right, $color-secondary, $color-primary);
  background-clip:text;
  -webkit-background-clip:text;
  color:transparent;
  transition-duration:1s;
  transition-timing-function:ease-in;
}

.heart_label3{
  transform: translate(1.4em);
}

.heart_label1, .heart_label2, .heart_label3, .heart_label4,{
  transform: translate(260px,-60px);
}

.heart_label5, .heart_label6, .heart_label7,.heart_label8 {
  padding-top: 0.5em;
}