@media screen and (min-width: 768px) {


  /*--------------------------------------*/
  /*----------------ACCUEIL---------------*/
  /*--------------------------------------*/

  .store_restaurant{
    display: flex;
    flex-direction: column;
    align-items: center;

    .store__pictures{
      display: flex;


      .resp_tab{
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .lien_menu{
          display: flex;
          width: 100%;
          flex-wrap: wrap;

          .restaurant{
            width: 100%;
          }
        }
      }
    }
  }



  .heart_container_menu{
    position: relative;
    transform: translate(-80px);
    margin-top: 15.5em;
  }

  /*--------------------------------------*/
  /*-----------------MENU-----------------*/
  /*--------------------------------------*/

  .appetizer, .main, .dessert{
    display: flex;
    justify-content: center;
  }

  .menu{
    height:75vh;

    .title_appetizer{
      margin-top: 5em;
    }

    .appetizer, .main, .dessert{
      margin-bottom: 8em;
    }
  }

  .foot_tab{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}