@media screen and (min-width: 425px) {
  body {
    width: 100%;
  }


  .operation {
    display: flex;
    flex-direction: column;
    align-items: center;

    .stages__all {
      min-width: 425px;
    }
  }
}

.store_restaurant{
  display: flex;
  flex-direction: column;
  border: solid red;
  margin-bottom: 0px;

  .store__pictures{
    border: solid black;
    display: flex;
    justify-content: space-around;

  }
}


footer{
  .title_footer{
    text-align: center;
    margin-bottom: 2em;
  }

  .foot_tab{
    display: flex;
    justify-content: space-around;
  }
}