@media screen and (min-width: 425px) {



  .operation {
    display: flex;
    flex-direction: column;
    align-items: center;

    .stages__all {
      min-width: 425px;
    }
  }
}

.appetizer, .main, .dessert{
  flex-wrap: wrap;
}

.btn_order{
  display: flex;
  justify-content: center;
  margin-left: 0px;
}

footer{
  .title_footer{
    margin-bottom: 2em;
  }
}