.top{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: lighten($grey,45);
  text-align: center;
  margin-bottom: 3em;

  & .top__slogan{
    font-size: 23px;
    font-weight: bold;
    margin: 2em 1em 0.5em 2em;
  }

    & .top__catch{
      font-size:16px;
      margin: 0 1.3em 2em 1.3em;
    }

}

.btn{
  margin-bottom: 4em;
}

.operation{
  margin: 0 1em;


  & .title_secondary{
    margin-bottom: 1em;
  }
}

.stages__one, .stages__two{
  margin-bottom: 2em;
}

.stages__three{
  margin-bottom: 5em;
}

.stages__all{
  display: flex;
  padding: 1.5em 0;
  border: 0px solid $white;
  box-shadow: 1px 5px 6px lighten($grey,35);
  border-radius: 20px;
  background-color: lighten($grey,45);

  & .num{
    color: $white;
    background-color: $color-primary;
    border-radius: 100%;
    padding: 0.3em 0.5em 0em 0.5em;
    font-size: 12px;
    margin-right: 1.5em;
    margin:0 1.5em 0 -0.6em;
  }

  & .icon{
    color: $grey;
    margin-right: 1.5em;
    font-size:16px;
  }

  & .e_all{
    font-weight: bold;
    font-size: 15px;
  }
}

a{
  text-decoration: none;
  color: black;

  & :hover{
    background-color: lighten($color-primary,35);
  }
}



.store_restaurant{
  margin-bottom: 4em;

  & .title_secondary{
    margin-left: 0.6em;
  }

  & .restaurant{
    border-radius: 20px;
    box-shadow: 1px 2px 3px rgb(206, 206, 206);
    margin: 1em 1em;

    & img{
      @include img;
    }

    & .ticket{
      background-color: $color-tertiary;
      width:20%;
      padding:0.2em 0.5em;
      color:darken($color-tertiary,35);
      font-weight:bold;
      margin: -8em 0 7em 15em;
      position:relative;
    }
  }
}

.restaurant_description{
  display: flex;
  margin: 0.5em 1em 0 1em;

    & .restaurant_name{
      padding-right: 8em;
      margin-bottom: 1em;
    }

      & span{
        font-weight: bold;
      }

        & .icon_heart{
          font-size:20px;
          padding: 3px 0 0 0;
        }
}

.hearth_menu3{
  padding-left: 1.5em;
}




