.pictures_head{
  width:100%;
}

.menu{
  border-radius: 35px 35px 0 0;
  padding-top: 1.6em;
  margin-top: -3.2em;
  background-color: $white;
  position: relative;

  & .favourite_restaurant{
    display:flex;
    margin:0 0 2em 1em;

    & .title_menu{
      margin-right: 3.5em;
    }

    & .hearth{
      font-size:20px;
      padding-top: 0.4em;
    }
  }
}

.title_all{
  margin: 1em 19.3em 0 1em ;
  padding-bottom: 0.2em;
  border-bottom: 3px solid $color-tertiary;
}

.appetizer{
  margin-bottom: 3em;
}
.appetizer__all{
  display: flex;
  justify-content: space-between;
  border: 1px solid  $white;
  border-radius: 10px;
  box-shadow: 1px 1px 3px  lighten($grey,10);
  padding:0.5em;
  margin:1em;

  & .appetizer__name{

    & .name_appetizer{
      font-weight: bold;
    }

    & .info_appetizer{
      font-size: 12px;
    }
  }
}

.main{
  margin-bottom: 3em;

}

.main__all{
  display: flex;
  justify-content: space-between;
  border: 1px solid  $white;
  border-radius: 10px;
  box-shadow: 1px 1px 3px  lighten($grey,10);
  padding:0.5em;
  margin:1em;

  & .main__name{

    & .name_main{
      font-weight: bold;
    }

    & .info_main{
      font-size: 12px;
    }
  }
}

.dessert__all{
  display: flex;
  justify-content: space-between;
  border: 1px solid  $white;
  border-radius: 10px;
  box-shadow: 1px 1px 3px  lighten($grey,10);
  padding:0.5em;
  margin:1em;

  & .dessert__name{

    & .name_dessert{
      font-weight: bold;
    }

    & .info_dessert{
      font-size: 12px;
    }
  }
}

.price{
  padding-top: 1em;
  font-weight: bold;
}
